---
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<h3 class="font-bold">¿Querés colaborar con Galgo Supernova?</h3>

	<p>¡Se reciben donaciones de bicis y repuestos!</p>
	<p>
		Galgo Supernova se sostiene de colaboraciones económicas, donaciones de
		bicicletas y voluntades energéticas. El trabajo voluntario de aprendices y
		amistades que juegan a la Mecánica Comunitaria todas las semanas ha
		reactivado bicicletas donadas por personas que nos contactaron con el fin de
		que esas bicis dejen de estar abandonadas para volver a rodar.
	</p>
</Layout>
