---
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<h3 class="font-bold">¿Querés colaborar con galgosupernova?</h3>

	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
		accusamus nobis ad dolores ullam. Eius deserunt iure suscipit voluptates
		magni earum distinctio, eos, sed tempore, officiis optio consectetur debitis
		esse.
	</p>
</Layout>
