---
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets'
import banner from '@images/que/galgo_banner.png'
---

<Layout>
	<h2 class="text-4xl font-bold mb-4">¿qué es mecánica comunitaria?</h2>

	<p class="font-italic mb-4">Y rozar contigo. <br /> (Robe Iniesta)</p>

	<p class="mb-4">
		La Mecánica -con mayúscula y como concepto- es un conjunto de reacciones e
		intentos que la Humanidad inventa a diario para intentar lo imposible: que
		el rozamiento no le afecte. La Física -con mayúscula también- dice que es
		imposible que no exista el rozamiento. Incluso en el vacío está presente,
		por ende no existe la máquina del movimiento perpetuo. No puede diseñarse ni
		ejecutarse una máquina capaz de continuar funcionando eternamente. Es decir,
		que para conservar la energía hay que transformarla y transformarse. Algo
		parecido a nacer y morir, como los galgos y como las supernovas.
	</p>

	<p class="mb-4">
		Y así vamos como Humanidad en la condena de no poder evitar que el
		rozamiento nos afecte. Logramos con lentes telescópicos satelitales ver
		estrellas distantes que ya dejaron de existir. Logramos también medir
		precisamente cómo estamos destruyendo el hábitat que nos rodea con nuestros
		ineficientes sistemas de organización vincular. Los cuales en simultáneo
		multiplican la cultura de no aceptar la naturaleza del rozamiento, y por
		eso, sufrimos ser quienes somos.
	</p>

	<p class="mb-4">
		La Mecánica Comunitaria es un invento más para intentar lo imposible:
		subvertir la cultura de sufrimiento en relación al rozamiento. Que rozar no
		duela. Somos comunidad, somos un conjunto humano de espíritus, emociones y
		cuerpos, y es necesario que hallemos dentro nuestro (de todes, más allá y
		más acá) la forma de (re) crear los vínculos. Es Mecánica Comunitaria cuando
		la comunidad (en este caso, la comunidad ciclista) se organiza para dar
		soluciones prácticas a la propia comunidad sin la necesidad de
		intermediaries a través de intercambios recíprocos por fuera de lógicas del
		mercado y la competencia. Es decir, una cultura vernácula, propia del
		movimiento, inspirada en arquetipos del pasado: viejos mecánicos de barrio,
		sociedades de socorros mutuos, hackatones, cuadernos de recetas escritos a
		mano, radios comunitarias, juegos callejeros de antaño, flora espontánea,
		astrología y magia no comprendida.
	</p>

	<p class="mb-4">
		Esta Mecánica Comunitaria trae consigo un intento de lógicas horizontales
		(en tiempo presente, como un pacto a futuro) para la transmisión y
		construcción de conocimientos relacionados (en apariencia) a las bicis. No
		es un curso, no es una formación, no es una capacitación, no es un trayecto
		pedagógico. Su sustrato afectivo es una combinación de empedrado y almas,
		sobre la que bailan los cuerpos, que aprenden-haciendo con la herramienta en
		la mano, sin que nadie pueda evitarlo.
	</p>

	<p class="mb-4">
		Es Mecánica Comunitaria cuando la dinámica planteada de relación entre
		participantes jerarquiza el aprendizaje de un conocimiento de mecánica
		ciclista (que pasa por el cuerpo y se incorpora al bagaje propio) como forma
		de estimular el auto-conocimiento de nosotres y nuestras bicis. Una forma
		más de embrujo que prioriza el acontecimiento más que un resultado
		inmediato, transformando la idea de éxito que nos fue concebida.
	</p>

	<p class="mb-4">
		A la Mecánica Comunitaria no le interesa la supervivencia individual -el
		alpinista en la cima, Will Smith en el apocalipsis- sino una forma de
		enredarse y desenredarse que atente contra la competencia. Aparece como una
		consecuencia del agotamiento del encierro pandémico. Batalla contra ese DIY
		devenido en desafío Tik-toker al que se asiste como espectador online,
		superando la pasividad al descubrir que alguien deletreó D-I-W-O con tiza en
		algún lugar: hacerlo con otres. Esta cultura vernácula no es un servicio ni
		un áncora de salvación. Afirmamos, junto a la Física y la Mecánica, que no
		existe la máquina del movimiento perpetuo. Eso es cosa de les dioses. La
		Mecánica Comunitaria busca como objetivo final reparar la máquina-comunidad.
		Por un lado porque ni la comunidad ni sus integrantes responden a mecanismos
		técnicos. Y por el otro porque falla continuamente al no lograr ver el
		rozamiento como parte de la máquina, lo que nos genera raspones, heridas,
		pinchazos y roturas. Quien habite una comunidad, se encontrará alguna pieza
		rota o explotada de sí misme. Como los galgos, como las supernova. Habrá que
		reparar en ello.
	</p>

	<p class="mb-4">
		La Mecánica Comunitaria es solo una excusa. <br />Es solo una esperanza en
		este mundo roto. <br />Una canción que querés bailar otra vez.
	</p>

	<p class="font-italic">
		Editado en "Preguntas sin respuesta" (2022), recopilación de textos sobre
		una cultura vernácula ciclista, curada por galgosupernova (<a
			class="underline"
			href="https://www.instagram.com/galgosupernova/">Instagram</a
		> | <a class="underline" href="https://t.me/galgosupernova">Telegram</a>).
		Publicaciones disponibles. Redacción de galgosupernova en pos de un mundo
		menos peor.
	</p>
</Layout>
