---
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<h3 class="font-bold">Taller abierto de Bicis</h3>
	<p>
		Martes 18 a 20hs; Miércoles, jueves y viernes de 9 a 12hs <br /> en Centro Verde
		Yerbal (Yerbal 1419, Caballito) <br />Espacio de auto-reparación articulado
		en la Cooperativa RUO.
	</p>

	<h3>Otras alianzas:</h3>

	<ul>
		<li>
			<b>Curso "Mecánica de bicicletas" </b>
			Martes 14 a 18 <br /> en CFP N°24 (Morón 2538, Flores) <br />Trayecto
			pedagógico anual gratuito. <br />Preinscripciones abiertas para 2025.
		</li>
		<li>Taller móvil con “Club de Reparadores”</li>
	</ul>
</Layout>
