---
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<h3 class="font-bold">Hola!</h3>

	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus aliquam,
		error molestiae fuga et maxime pariatur iure sunt odit! Numquam veritatis
		quis qui culpa labore dignissimos quae molestias maiores id!
	</p>
</Layout>
