---
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets'
import banner from '@images/que/galgo_banner.png'
---

<Layout>
	<h2 class="text-4xl font-bold mb-4">¿qué es galgosupernova?</h2>

	<p>galgosupernova es la práctica de una mecánica comunitaria.</p>

	<p>
		El proyecto de un pequeñísimo conjunto de gente común y corriente regando
		culturas vernáculas sobre las bicicletas y el urbanismo en tiempos del
		Apocalipsis. Mecánicos que priorizan el criterio y la amabilidad antes que
		el comercio y las jerarquías del derecho de piso.
	</p>
	<p>
		Practicamos desarmar y armar. Buscamos reparar lo que no está funcionando y
		darle una nueva oportunidad. Practicamos una mecánica comunitaria porque
		buscamos creativamente una salida en conjunto, intervenir positivamente en
		el funcionamiento de cualquier dispositivo.
	</p>

	<Image
		class="w-full mx-auto max-w-"
		src={banner}
		alt="Ilustración de un galgo con casco rojo corriendo entre partes de bicicletas y mate, sobre un fondo de supernova."
	/>

	<p>
		Redefinición del espacio público en vitalidad consensuada para salir de la
		línea recta hacia un presente hecho a mano. Diseñadores de jardines de
		bolsillo. Arquitectas sin título transitando del garabato al mundo material.
		Caladora y aserrín de tarima encontrada.
	</p>

	<p>
		Instalación de simuladores en barrios suburbanos. Poetas que esculpen el
		espíritu que el urbanismo táctico deja afuera. Asesores sentimentales de
		esquejes y grupos humanos. Creativos de un laboratorio del movimiento.
		Excursionistas de reservas ecológicas. Buscadores de tesoros en contenedores
		ajenos.
	</p>

	<p>
		Proyecto llevado adelante por dos personas y una red de magias alrededor. En
		su currículo figura la creación de proyectos y experiencias en Argentina,
		Chile, Canadá y México.
	</p>

	<p>For information in English you can access Bike Collectives Wiki.</p>
</Layout>
