---
import '@styles/global.css'
import Head from '@components/Head/Head.astro'
import Header from '@components/Header/Header.astro'
import Footer from '@components/Footer/Footer.astro'
---

<!doctype html>
<html lang="es">
	<Head />
	<body class="m-0 size-full max-w-[1920px] mx-auto">
		<div class="px-4 sm:px-6 lg:px-10">
			<Header />
			<main class="py-6">
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>
